---
---

@import "{{ site.theme }}";
section{width: 125%; left: -100px}
nav,footer{ left: 40%;}
div.wrapper{width: 800 px}
#banner{background: #93bacb;
        border: #95bccd;}
#banner.button{
    background: linear-gradient(#7f608a, #357e95);
}
