---
---

@import "{{ site.theme }}";

nav,
footer {
    left: 40%;
}

.wrapper {
    margin: 10px auto;
    position: relative
}

section {
    width: 120%
}

#banner {
    background: #93bacb;
    border: #95bccd;
    height:40px;

    /* Make the banner full width */
    right: 0;
}

#banner .fork {
    border: #92b5ca;
}

#banner .button {
    background: linear-gradient(#92b5ca, #95bccd);
}

#banner #logo {
    /* Move the github logo closer to the button */
    right: 7px;
    left: calc(100vw - 45%);
}

code,
pre {
    color: #333;
    background: #efefef;
}
