---
---

@import "{{ site.theme }}";
nav,footer{ left: 40%;}
.wrapper{width: 900 px;
         margin:10px auto;
         position:relative}
section{width:850 px}
#banner{background: #93bacb;
        border: #95bccd;}
#banner .fork{
    border:#92b5ca;
}
#banner .button{
    background: linear-gradient(#92b5ca, #95bccd);
}

code,pre{
    color: #333;
    background: #efefef;
}
